.social-media-icons-vector {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.social-media-icons-vector-wrapper {
  position: relative;
  width: 1440px;
  height: 100px;
  max-width: 102%;
  flex-shrink: 0;
}
.index,
.log-out,
.order,
.registration,
.transactions,
.update,
.wallet {
  position: relative;
  line-height: 133.12%;
  display: flex;
  align-items: flex-end;
  height: 57px;
}
.log-out,
.order,
.registration,
.transactions,
.update,
.wallet {
  height: 53px;
}
.log-out,
.order,
.registration,
.transactions,
.update {
  height: 67px;
}
.log-out,
.order,
.transactions,
.update {
  height: 65px;
}
.log-out,
.order,
.update {
  height: 53px;
}
.log-out,
.update {
  height: 45px;
}
.log-out {
  height: 40px;
  white-space: nowrap;
}
.component-1,
.contact-us-text {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.contact-us-text {
  margin: 0 !important;
  position: absolute;
  top: 17px;
  left: 355px;
  width: 1050px;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.component-1 {
  align-self: stretch;
  background-color: rgba(255, 255, 255, 0.75);
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.shop {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 133.12%;
  font-weight: 700;
  font-family: inherit;
}
.shop-address-price-order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.address {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 133.12%;
  font-weight: 700;
  font-family: inherit;
}
.shop-address-price-order1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.price {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 133.12%;
  font-weight: 700;
  font-family: inherit;
}
.shop-address-price-order2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.order1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 133.12%;
  font-weight: 700;
  font-family: inherit;
}
.shop-address-price-order3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.choose {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 133.12%;
  font-weight: 700;
  font-family: inherit;
}
.shop-address-price-order4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.shop-address-price-order-parent {
  align-self: stretch;
  background-color: rgba(195, 164, 143, 0.6);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-lg) 0 0;
  gap: var(--gap-xl);
}
.frame-index-wallet,
.shop-address-price-order-choos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.shop-address-price-order-choos {
  flex: 1;
  flex-direction: column;
  gap: 26px;
}
.frame-index-wallet {
  align-self: stretch;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--inter);
}
.help-about-us-blog-jobs-contac {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.company {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.about-us,
.blog,
.contact,
.help,
.jobs,
.privacy-notice,
.terms-condition {
  margin: 0;
}
.help-about-us-container {
  position: relative;
  font-weight: 300;
  display: inline-block;
  height: 179.8px;
  flex-shrink: 0;
  z-index: 1;
}
.company-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
  min-width: 175px;
}
.download-the-app {
  position: relative;
  line-height: 133.12%;
  font-weight: 500;
  z-index: 1;
}
.queries-call-email {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1px 0 0;
  box-sizing: border-box;
  gap: 45px;
  max-width: 100%;
}
.contact-us {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.primephone-instance {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.pajamasmail-icon,
.primephone-icon,
.tdesignlocation-icon {
  position: relative;
  width: 31.5px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pajamasmail-icon,
.tdesignlocation-icon {
  width: 29.5px;
  height: 30px;
}
.background-vector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.secondary-logo-text {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.kvmet2023gmailcom {
  white-space: nowrap;
}
.kvmet2023gmailcom,
.sri-lanka {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.kvmetgmailcom-sri-lanka-instan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.background-vector-parent,
.pajamasmailtdesignlocation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.pajamasmailtdesignlocation {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lgi);
}
.logo {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.chsghjsdgjvhsdgd-jhvj-ideikshf,
.dbv-dvbd-dsjhalk,
.dhvghsvj-dsjhksj-sdh,
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd1 {
  margin: 0;
}
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.fa6-brandssquare-twitter-icon {
  position: relative;
  width: 26.6px;
  height: 29.3px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.entypo-socialfacebook-icon,
.for-queries-call {
  position: relative;
  width: 26.5px;
  height: 25.7px;
  z-index: 1;
}
.entypo-socialfacebook-icon {
  width: 26.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-lg);
}
.contact-frame,
.line-separator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
}
.line-separator {
  gap: 16px;
  max-width: 100%;
}
.line-separator1,
.vector-shape {
  align-self: stretch;
  box-sizing: border-box;
}
.vector-shape {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
  flex-shrink: 0;
}
.line-separator1 {
  position: relative;
  border-top: 1px solid var(--color-darkslategray);
  height: 1px;
  z-index: 1;
}
.privacy-notice-text {
  width: 1235px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21px;
  max-width: 100%;
  flex-shrink: 0;
}
.for-your-queriescall {
  margin: 0;
}
.for-your-queriescall-container {
  flex: 1;
  position: relative;
  line-height: 133.12%;
  font-weight: 200;
  color: inherit;
  display: inline-block;
  height: 33.3px;
  text-decoration: none;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.queries-contact-frame {
  width: 757px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 8px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.footer,
.footer-wrapper,
.queries-contact-frame,
.rider {
  display: flex;
  justify-content: flex-start;
}
.footer {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 38px 20px 53px 27px;
  box-sizing: border-box;
  position: relative;
  gap: 55px;
  max-width: 100%;
}
.footer-wrapper,
.rider {
  align-items: flex-start;
}
.footer-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--inter-size);
  color: var(--color-darkslategray);
  font-family: var(--inter);
}
.rider {
  position: relative;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  gap: 555px;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .vector-shape {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .address,
  .choose,
  .order1,
  .price,
  .shop {
    font-size: var(--font-size-5xl);
    line-height: 32px;
  }
}
@media screen and (max-width: 750px) {
  .shop-address-price-order-parent {
    flex-wrap: wrap;
    padding-left: var(--padding-lg);
    box-sizing: border-box;
  }
  .footer {
    gap: 27px;
  }
  .rider {
    gap: 277px;
  }
}
@media screen and (max-width: 450px) {
  .address,
  .choose,
  .order1,
  .price,
  .shop {
    font-size: var(--font-size-lg);
    line-height: 24px;
  }
  .company,
  .help-about-us-container {
    font-size: var(--font-size-base);
  }
  .company-parent {
    flex: 1;
  }
  .download-the-app {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .queries-call-email {
    flex-wrap: wrap;
    gap: var(--gap-3xl);
  }
  .contact-us,
  .hjhjkfshjs-dvjhvjhsvkjhvdkjhvd,
  .kvmet2023gmailcom,
  .logo,
  .secondary-logo-text,
  .sri-lanka {
    font-size: var(--font-size-base);
  }
  .contact-frame {
    gap: var(--gap-lgi);
  }
  .for-your-queriescall-container {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .footer {
    padding-top: 25px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
  .rider {
    gap: 139px;
  }
}
