body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --inter-size: 20px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-darkslategray: #3f4e4f;
  --color-black: #000;

  /* Gaps */
  --gap-xl: 20px;
  --gap-lgi: 19px;
  --gap-5xl: 24px;
  --gap-4xl: 23px;
}
