.frame-wallet-registration {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-wallet-registration-wrapper {
  position: relative;
  width: 1440px;
  height: 100px;
  max-width: 100%;
}
.index,
.log-out,
.order,
.registration,
.transactions,
.update,
.wallet {
  position: relative;
  line-height: 133.12%;
  display: flex;
  align-items: flex-end;
  height: 57px;
}
.log-out,
.order,
.registration,
.transactions,
.update,
.wallet {
  height: 53px;
}
.log-out,
.order,
.registration,
.transactions,
.update {
  height: 67px;
}
.log-out,
.order,
.transactions,
.update {
  height: 65px;
}
.log-out,
.order,
.update {
  height: 53px;
}
.log-out,
.update {
  height: 45px;
}
.log-out {
  height: 40px;
  white-space: nowrap;
}
.component-1,
.order-update-logout-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
.order-update-logout-frame {
  margin: 0 !important;
  position: absolute;
  top: 17px;
  left: 355px;
  align-items: flex-end;
  gap: var(--gap-xl);
  z-index: 1;
}
.component-1 {
  align-self: stretch;
  background-color: rgba(255, 255, 255, 0.75);
  align-items: flex-start;
  position: sticky;
  gap: 8px;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.secondary-footer-rectangle {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.company {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.about-us,
.blog,
.contact,
.help,
.jobs,
.privacy-notice,
.terms-condition {
  margin: 0;
}
.help-about-us-container {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  display: inline-block;
  height: 179.8px;
  flex-shrink: 0;
  z-index: 1;
}
.contact-us-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  min-width: 116px;
}
.download-the-app {
  position: relative;
  line-height: 133.12%;
  font-weight: 500;
  z-index: 1;
}
.download-app-c-t-a {
  width: 405px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 46px;
  max-width: 100%;
}
.contact-us {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.header-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
}
.pajamasmail-icon,
.primephone-icon,
.tdesignlocation-icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.pajamasmail-icon,
.tdesignlocation-icon {
  width: 30px;
  height: 30px;
}
.kvmetgmailcom-sri-lanka-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.line-separator {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.kvmet2023gmailcom {
  white-space: nowrap;
}
.kvmet2023gmailcom,
.sri-lanka {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.fabrandssquaretwitter-vectoren,
.logo-container,
.pajamasmailtdsignlocationprime {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.logo-container,
.pajamasmailtdsignlocationprime {
  flex-direction: row;
  align-items: center;
}
.logo-container {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lgi);
}
.logo {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.chsghjsdgjvhsdgd-jhvj-ideikshf,
.dbv-dvbd-dsjhalk,
.dhvghsvj-dsjhksj-sdh,
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd1 {
  margin: 0;
}
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.fa6-brandssquare-twitter-icon {
  position: relative;
  width: 27px;
  height: 29.3px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.company-logo-frame,
.entypo-socialfacebook-icon {
  position: relative;
  width: 27px;
  height: 25.7px;
  z-index: 1;
}
.entypo-socialfacebook-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.fa6-brandssquare-twitter-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1px 0 0;
  gap: var(--gap-lgi);
}
.hjhjkfshjs-dvjhvjhsvkjhvdkjhvd-parent,
.queries-contact-info-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
}
.queries-contact-info-frame {
  gap: 16px;
  max-width: 100%;
}
.help-about-us-blog-jobs-contac {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  flex-shrink: 0;
}
.queries-callus-via-email {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  height: 1px;
  z-index: 1;
}
.company-text {
  width: 1250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21px;
  max-width: 100%;
  flex-shrink: 0;
}
.for-your-queriescall {
  margin: 0;
}
.for-your-queriescall-container {
  position: relative;
  line-height: 133.12%;
  font-weight: 200;
  color: inherit;
  display: inline-block;
  width: 762px;
  height: 33.3px;
  flex-shrink: 0;
  text-decoration: none;
  max-width: 100%;
  z-index: 1;
}
.footer,
.wallet-admin {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  align-items: center;
  padding: 38px 20px 53px 22px;
  box-sizing: border-box;
  gap: 55px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--inter-size);
  color: var(--color-darkslategray);
  font-family: var(--inter);
}
.wallet-admin {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  align-items: flex-start;
  gap: 532px;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .help-about-us-blog-jobs-contac {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .footer {
    gap: 27px;
  }
  .wallet-admin {
    gap: 266px;
  }
}
@media screen and (max-width: 450px) {
  .company,
  .download-the-app,
  .help-about-us-container {
    font-size: var(--font-size-base);
  }
  .download-the-app {
    line-height: 21px;
  }
  .download-app-c-t-a {
    flex-wrap: wrap;
    gap: var(--gap-4xl);
  }
  .contact-us,
  .hjhjkfshjs-dvjhvjhsvkjhvdkjhvd,
  .kvmet2023gmailcom,
  .line-separator,
  .logo,
  .sri-lanka {
    font-size: var(--font-size-base);
  }
  .hjhjkfshjs-dvjhvjhsvkjhvdkjhvd-parent {
    gap: var(--gap-lgi);
  }
  .for-your-queriescall-container {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .footer {
    padding-top: 25px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
  .wallet-admin {
    gap: 133px;
  }
}
